@use '../../scss/abstracts' as *;
.section {
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  padding: 25rem 10rem;
  @include query(desktopSmall) {
    padding: 15rem 10rem;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-light, 0.9) 0%,
      rgba($color-light, 0.9) 50%,
      transparent 50%
    ),
    url(../../assets/hero.jpeg);
  background-position: center;
  background-size: cover;
  height: 50rem;
  border-radius: 1rem;
  box-shadow: 0 1.5 4rem rgba($color: #000000, $alpha: 0.3);
  &__form {
    width: 50%;
    padding: 6rem;
    @include query(desktopSmall) {
      padding: 4rem;
    }
  }
  @include query(phone) {
    &__form {
      width: 70%;
    }
    background-image: linear-gradient(
        90deg,
        rgba($color-light, 0.9) 0%,
        rgba($color-light, 0.9) 70%,
        transparent 50%
      ),
      url(../../assets/hero.jpeg);
    background-position: center;
    background-size: cover;
  }
}

.heading {
  text-align: left;
  margin-bottom: 4rem;
  margin-top: -1rem;
  font-size: 3rem;
  @include query(desktopSmall) {
    letter-spacing: 5px;
  }
  @include query(phone) {
    letter-spacing: 1.5px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  @include query(phone) {
    gap: 2rem;
  }

  &__label {
    font-size: 1.2rem;
    color: $color-primary-dark;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.4s;
  }
  &__input {
    font-family: inherit;
    color: inherit;
    border: none;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgba($color-tertiary, 0.5);
    border-bottom: solid 3px transparent;
    width: 90%;

    &::placeholder {
      color: $color-tertiary-dark;
    }
    &:focus {
      border-bottom: solid 3px greenyellow;
      box-shadow: 0 1rem 2rem rgba($color-dark, 0.1);
    }
    &:focus:invalid {
      border-bottom: solid 3px rgb(235, 88, 34);
    }
  }
  input:placeholder-shown + label {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.radio-group {
  display: flex;
  gap: 4rem;
}
.radio-container {
  input {
    display: none;
    &:checked + label span::after {
      opacity: 1;
    }
  }
  label {
    position: relative;
    padding-left: 3.5rem;
    cursor: pointer;
  }
}
.radio {
  position: absolute;
  top: -0.4rem;
  left: 0;
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: solid $color-primary 5px;
  &::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1.3rem;
    width: 1.3rem;
    display: inline-block;
    border-radius: 50%;
    background-color: $color-primary;
    transition: opacity 0.3s;
  }
}

.btn--cta {
  width: 40%;
  @include query(tabLand) {
    width: 50%;
  }
  @include query(tabPort) {
    width: 65%;
    margin-top: -1.5rem;
  }
  @include query(phone) {
    width: 65%;
    margin-top: 3rem;
  }
}
