@use '../../scss/base/typography';
@use '../../scss/abstracts' as *;

.section {
  margin-top: -20vh;
  background-color: $color-light;
  padding: 25rem 10rem;
  @include query(tabPort) {
    padding: 20rem 10rem;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.2rem;

  @include query(tabPort) {
    grid-template-columns: 1fr;
    margin-bottom: 20rem;
  }
}

.paragraph {
  margin-bottom: 3.2rem;
}

.images {
  pointer-events: none;
  align-items: center;
  justify-content: center;
  position: relative;
  &:hover img:not(:hover) {
    transform: scale(0.9);
  }

  img {
    pointer-events: auto;
    position: absolute;
    width: 55%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
    outline-offset: 1.1rem;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
      z-index: 2;
      outline: 0.5rem solid $color-primary;
    }

    @include query(tabLand) {
      width: 60%;
    }

    @include query(tabPort) {
      width: 40%;
    }
  }
  &--pool {
    left: 7rem;
    top: -2rem;
  }
  &--spa {
    right: 0;
    top: 2rem;
    @include query(tabPort) {
      top: -2rem;
      right: 7rem;
    }
  }
  &--villa {
    left: 30%;
    top: 8rem;
    @include query(tabPort) {
      top: 4rem;
      right: 7rem;
    }
  }
  @include query(tabLand) {
    transform: translateY(4rem);
  }
}
