$color-primary: #ffc482;
$color-primary-dark: #99764e;
$color-primary-light: #ffdcb4;

$color-secondary: #e2afde;
$color-secondary-dark: #886985;
$color-secondary-light: #eecfeb;

$color-tertiary: #b4ceb3;
$color-tertiary-dark: #6c7c6b;
$color-tertiary-light: #d2e2d1;

$color-dark: #242331;
$color-light: #e9e9e9;
