@use '../../scss/base' as *;
@use '../../scss/abstracts' as *;

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(12, 7, 12, 0.8),
      rgba(214, 199, 214, 0.8)
    ),
    url(../../assets/hero.jpeg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 3.2em;
  left: 3.2rem;
}

.logo {
  height: 9.6rem;
  z-index: 2;
}

.heading {
  text-align: center;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  @include query(phone) {
    transform: translate(-50%, -50%);
  }
}

.heading-main {
  font-weight: 700;
  font-size: 6.4rem;
  animation: moveInLeft 1.6s ease-out;
  letter-spacing: 3.5rem;
  margin-right: -3.5rem;
  @include query(phone) {
    letter-spacing: 2rem;
  }
}

.subheading {
  font-weight: 400;
  font-size: 2.4rem;
  animation: moveInRight 1.6s ease-out;
  margin-bottom: 2.4rem;
  letter-spacing: 2rem;
  margin-right: -2rem;
  @include query(phone) {
    letter-spacing: 1rem;
  }
}

.btn {
  animation: moveInBottom 1.6s ease-out 0.75s backwards;
}
