@use '../../scss/abstracts/' as *;
.anchor {
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.2rem solid $color-primary-dark;
  padding: 1rem 0.5rem;
  color: $color-primary-dark;
  transition: all 0.4s;

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    color: white;
    background-color: $color-primary-dark;
  }
}
